<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        .completed {
            text-decoration: line-through;
            opacity: 0.6;
        }
    </style>
</head>
<body>
<div id="app">
    <select v-model="status">
        <option value="all" selected>모두 보기</option>
        <option value="active">안끝남!</option>
        <option value="completed">끝남!</option>
    </select>
    
    
    <input type="text" v-model="newTodo" v-on:keyup.enter="addTodo()">
    <button v-on:click="addTodo()">todo</button>
<!--    v-on 대신 @로 축약해서 쓰기도 한다. v-on만 @로 적용 가능-->
    <button @click="clearCompleted()">ClearCompleted</button>
    <ol v-if="todos">
<!--        원래 있던거! 색깔은 무시-->
<!--        <li v-for="todo in todos" v-bind:class="todo.completed ? 'completed' : '' ">-->
<!--        다른 표현식 같은 말-->
        <li v-for="todo in groupTodosByStatus()" v-bind:class="{completed: todo.completed}" v-bind:key="todo.id">
            <input type="checkbox" v-model="todo.completed">
            <span>{{ todo.content }}</span>
        </li>
    </ol>
</div>
<script src="./vue.js"></script>
<script>
    const app = new Vue({
        el: `#app`,
        data: {
            todos: [
                {
                    id: 1,
                    content: '저녁 메뉴 고민하기',
                    completed: true,
                },
                {
                    id: 2,
                    content: '시험공부하기',
                    completed: false,
                },
                {
                    id: 3,
                    content: '집 살 걱정하기',
                    completed: false,
                },
                {
                    id: 4,
                    content: '행복하기',
                    completed: false,
                },
            ],
            newTodo: '',
            status: 'all',
        },
        methods: {
            check: function (todo = {}) {
                todo.completed = !todo.completed;
            },
            addTodo() {
                if (this.newTodo) {
                    this.todos.push({
                        id: Date.now(),
                        content: this.newTodo,
                        completed: false,
                    });
                    this.newTodo = '';
                }

            },
            clearCompleted() {
                // this.todos = this.todos.filter(todo => !todo.completed);
                const newTodos = this.todos.filter(todo => {
                    if (todo.completed) {
                    } else {
                        return true
                    }
                });
                this.todos = newTodos;
            },
            groupTodosByStatus () {
                if (this.status === 'active') {
                    return this.todos.filter(todo => !todo.completed);
                } else if (this.status === 'completed') {
                    return this.todos.filter(todo => todo.completed);
                } else {
                    return this.todos;
                }
            },
        },
    })
</script>
</body>
</html>