<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        .completed {
            text-decoration: line-through;
            opacity: 0.6;
        }
    </style>
</head>
<body>
<div id="app">
    <select v-model="status">
        <option value="all" selected>모두 보기</option>
        <option value="active">안끝남!</option>
        <option value="completed">끝남!</option>
    </select>

    <input type="text" v-model="newTodo" @keyup.enter="addTodo()">
    <button @click="addTodo()">+</button>
    <button v-on:click="clearCompleted()">Clear Completed</button>

    <ol v-if="todos.length">
        <!--    <li v-for="todo in groupTodosByStatus()" v-bind:class="{completed: todo.completed}">-->
        <li
                v-for="todo in groupTodosByStatus"
                v-bind:class="todo.completed ? 'completed' : '' "
                v-bind:key="todo.id"
        >
            <input type="checkbox" v-model="todo.completed" @change="updateTodo(todo)">
            <span>{{ todo.content }}</span>
        </li>
    </ol>
</div>
<script src="./vue.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.9.1/firebase.js"></script>
<script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
<script>
    // Initialize Firebase
    // TODO: Replace with your project's customized code snippet
    const config = {
        apiKey: "AIzaSyCyIKyYQYCwBNI956peRmb1k_aSV5VJ0hw",
        databaseURL: "https://todo-vue-ede9a.firebaseio.com",
        projectId: "todo-vue-ede9a",
    };
    firebase.initializeApp(config);

    const database = firebase.database();

    const app = new Vue({
        el: '#app',

        data: {
            newTodo: '',
            status: 'all',
        },

        firebase: {
            todos: database.ref('todos'),
        },

        methods: {
            check: function (todo={}) {
                todo.completed = !todo.completed;
            },
            addTodo () {
                if (this.newTodo) {
                    this.$firebaseRefs.todos.push({
                        id: Date.now(),
                        content: this.newTodo,
                        completed: false,
                    });
                    this.newTodo = '';
                }
            },
            clearCompleted () {
                // this.todos = this.todos.filter(todo => !todo.completed)

                const completedTodos = this.todos.filter(todo => {
                    return todo.completed;
                });
                completedTodos.forEach(todo => {
                    this.$firebaseRefs.todos.child(todo['.key']).remove()
                });
            },
            updateTodo (todo) {
                const newTodo = { ...todo };
                delete newTodo['.key'];
                this.$firebaseRefs.todos.child(todo['.key']).set(newTodo);
            },
        },

        computed: {
            groupTodosByStatus () {
                if (this.status === 'active') {
                    return this.todos.filter(todo => !todo.completed);
                } else if (this.status === 'completed') {
                    return this.todos.filter(todo => todo.completed);
                } else {
                    return this.todos;
                }

            }
        },

        // watch: {
        //     todos: {
        //         deep: true,
        //         handler: function (todos) {
        //             todosApp.save(todos)
        //         }
        //     },
        // }
    })
</script>
</body>
</html>