{% extends 'board/base.html' %}

{% block body %}
    <h1>{{ posting.title }}</h1>
    <p>
        {{ posting.content }}
    </p>
    <hr>
    <a href="{% url 'board_ad:posting_list' %}"><button>List</button></a>
    <a href="{% url 'board_ad:posting_update' posting.id %}"><button>Edit</button></a>
    <form action="{% url 'board_ad:posting_delete' posting.id %}" method="post">
        {% csrf_token %}
        <button type="submit" onclick="return confirm('진짜 지울거야?');">Delete</button>
    </form>

    <hr>
    {#    <button id="reset_button">WOW</button>#}
{#    <script>#}
{#        button = document.querySelector('#reset_button')#}
{#    button.addEventListener('click', (e) => {#}
{#        document.write('<h1>hahaha</h1>');#}
{#    });#}
{#    </script>#}
    <form action="{% url 'board_ad:create_comment' posting.id %}" method="post">
        {% csrf_token %}
        <label for="create_comment"></label>
        <input type="text" name="comment" id="create_comment">
        {#<input type="submit" value="댓글쓰기">#}
        <button type="submit">댓글 쓰기</button>
    </form>

    <section>
        {% if posting.comment_set %}
            <li>
                {{ comment.content }}
                <form action="{% url 'board_ad:delete_comment' posting_id=posting.id comment_id=comment.id %}">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
            </li>
        {% endif %}
    </section>


{% endblock %}