{% extends 'board_ad/base.html' %}
{% block  %}


<form method="post">
    {% csrf_token %}
    <div>
        <label for="input_title">Title: </label>
        <input name="title" id="input_title" type="text" value="{{ posting.title }}">
    </div>
    <div>
        <label for="input_content">Content: </label>
        <textarea name="content" id="input_content" cols="30" rows="10">{{ posting.content }}</textarea>
    </div>
    <div>
        <button type="submit">UPDATE!</button>
    </div>
</form>
{% endblock %}