<div class="card my-3">
    {% if post.image_set.all %}
        <div id="post{{post.id}}" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                {% for image in post.image_set.all %}
                    <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
                        <img src="{{ image.file.url }}" class="d-block w-100" alt="{{ image.file }}">
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#post{{post.id}}" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#post{{post.id}}" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    {% else %}
        <img src="https://picsum.photos/600" alt="random-image" class="card-img-top" />
    {% endif %}
    <div class="card-body">
        <p class="card-text">@{{ post.user.username }} {{post.content}}</p>
        {% if user == post.user %}
            <form action="{% url 'posts:delete_post' post.id %}" method="post">
            {% csrf_token %}
                <a class="mb-2 float-right text-muted"href="{% url 'posts:update_post' post.id %}">📝</a>
                <button type="submit" class="bg-white border-0 float-right" aria-hidden="true">🗑️</button>
            </form>
        {% endif %}
    </div>

    <div class="card-body">
        <form action="{% url 'posts:toggle_like' post.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="좋아요">
        </form>
        {% if post.like_users.all %}
            <p>❤ x {{ post.like_users.count }}</p>
        {% endif %}

    </div>


    <div class="card-body">
            {% for comment in post.comment_set.all %}
                <p class="card-text">
                    <strong>{{ comment.user.username }}</strong> : {{ comment.comment }}
                </p>
            {% empty %}
                댓글 달기...
            {% endfor %}

    </div>
    <div class="card-footer">
        <form action="{% url 'posts:create_comment' post.id %}" method="POST">
            {% csrf_token %}
            {{ comment_form.comment }}
            <input type="submit" class="btn btn-light">
        </form>
    </div>
</div>