{% extends 'base.html' %}
{% block body %}
    <div class="row">
        <div class="col-4">
            <img src="..." alt="{{ user_info.username }}-profile-picture">
        </div>
        <div class="col-8">
            <h1>{{ user_info.username }}</h1>
            <div>
                <h2>Followings - 내가 따르는 사람들</h2>
                <p>{{ user_info.followings.all.count }}</p>
                <ul>
                    {% if user_info.followings.all %}
                        <ul>
                            {% for user in user_info.followings.all %}
                                <li>{{ user.username }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </ul>
                <h2>Followers - 나를 따르는 사람들</h2>
                <p>{{ user_info.followers.all.count }}</p>
                {% if user_info.followers.all %}
                    <ul>
                        {% for user in user_info.followers.all %}
                            <li>
                                {{ user.username }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div>
                {% if user != user_info %}
                    <form action="{% url 'accounts:toggle_follow' user_info.username %}" method="post">
                        {% csrf_token %}
                        {% if user_info in user.followings.all %}
                            {#                        unfollow#}
                            <button class="btn btn-danger">Unfollow</button>
                        {% else %}
                            <button class="btn btn-primary">follow</button>
                        {% endif %}
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="card-columns">
        {% for post in user_info.post_set.all %}
            {% include 'posts/_post.html' with post=post comment_form=comment_form %}
        {% endfor %}
    </div>


{% endblock %}